body {
    background-color: #dadada !important;
}

nav {
    z-index: 2000;
    right: 120px;
    top: 260px;
}

.w-90 {
    width: 90%;
}

.w-20 {
    width: 20%;
}
.w-225px{
 width: 225px;
}
.w-340 {
    width: 340px !important;
}

.w-560 {
    width: 560px;
}

.wh-22 {
    height: 24px;
    width: 22px;
}

.background-img {
    opacity: 0.3;
    z-index: -1000;
    height: 350px;
}

.item {
    height: 90vh;
    z-index: 1000;
    background: #ffffff;
}

.btn-yellow {
    background: #fae8d0 !important;
}
.list-group-default{
    list-style: none;
}