body {
    background: #fcf5f5;
}
nav{
    z-index: 2000;
    right: 120px;
    top: 260px;
}
.upperCont {
    display: flex;
    justify-content: center;

}

.hashtags {
    color: #b0b0b0;
    font-weight: bolder;
}
.h-170{
    height: 170px;
}
.w-90{
    width: 90%;
}
.w-20{
    width: 20%;
}
.w-340{
    width: 340px;
}
.w-550{
    width: 550px;
}
.w-50px{
    width: 40px;
}
.wh-22{
    height: 24px;
    width: 22px;
}
.fs-10{
    font-size: 12px;
}
.background-img{
opacity: 0.3;
    z-index: -1000;
    height: 350px;
}
.item {
    height: 90vh;
    z-index: 1000;
    background: #ffffff;
    /*background: white 0 0 no-repeat;*/
    /*background:  url("https://st2.depositphotos.com/1591133/8812/i/950/depositphotos_88120646-stock-photo-idyllic-summer-landscape-with-clear.jpg") no-repeat;*/
}
.btn-yellow{
    background: #fae8d0;
}